[Unit]
Description=Nullnet proxy
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/%H/nullnet-proxy
EnvironmentFile=/home/%H/nullnet-proxy/.env
ExecStart=/home/%H/nullnet-proxy/target/release/nullnet-proxy
Restart=always

[Install]
WantedBy=multi-user.target